/**
 * mdui 内置样式重写
 */

.mdui-container-fluid {
  padding: 0;
}

// 打开抽屉栏时，内容区域需要和抽屉栏保持间距；关闭抽屉栏时，则不要间距
@media (min-width: 1024px) {
  .mdui-container-fluid {
    margin-left: 36px;
  }
}

.mdui-drawer-close + .mdui-container-fluid {
  margin-left: 0;
}

// 移除卡片和表格的阴影
.mdui-card {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
  border-radius: 4px;
}

.mdui-table-fluid {
  box-shadow: none;
  border: none !important;
  overflow: visible;
}

// 表格悬浮状态颜色
.mdui-table-hoverable tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.04);

  .mdui-theme-layout-dark & {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

// 移除表格分隔线
.mdui-table tbody td {
  border-bottom: none !important;
}

// 表格行选中状态颜色
.mdui-table-row-selected {
  background-color: #e8f0fe !important;

  .mdui-theme-layout-dark & {
    background-color: rgba(255, 255, 255, 0.16) !important;
  }
}

// 修改表头样式
.mdui-table th {
  font-size: 14px;
  font-weight: normal;
  color: #5f6368;
  cursor: default;
}

// 表格内容禁止换行
.mdui-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 修改纸片样式
.mdui-chip {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: background-color .25s cubic-bezier(.4,0,.2,1);

  &:hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.10);
  }
}

// 使表格支持 tbody 部分滚动
.mdui-table tbody {
  display: block;
  width: 100%;
  height: ~'calc(100vh - 180px)';
  overflow: auto;
}

.mdui-table tbody.is-loading {
  height: ~'calc(100vh - 210px)';
}

.mdui-table tbody.is-empty {
  height: ~'calc(100vh - 472px)';
}

.mdui-table thead,
.mdui-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

// 表格自动生成的 checkbox 部分固定宽度
.mdui-table-cell-checkbox {
  width: 66px;
}

// 自己添加的激活状态的纸片
.mdui-chip-active {
  background-color: #e8f0fe !important;
  border-color: rgba(26, 115, 232, 0.32) !important;

  .mdui-chip-title {
    color: rgba(26, 115, 232, 1) !important;
  }
}

/**
 * 全局样式
 */
body {
  height: 100%;
  overflow: hidden;
}
.mc-chip-group {
  padding: 20px 0;

  .mdui-chip {
    margin-right: 20px;
  }
}
