@import "./variables";

/**
 * mdui 内置样式重写
 */

.mdui-container-fluid {
  padding: 0;
}

// 打开抽屉栏时，内容区域需要和抽屉栏保持间距；关闭抽屉栏时，则不要间距
@media (min-width: @screen-md-min) {
  .mdui-container-fluid {
    margin-left: 36px;
  }
}

.mdui-drawer-close + .mdui-container-fluid {
  margin-left: 0;
}

// 修改卡片的阴影和圆角
.mdui-card {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
  border-radius: 4px;
}

// 修改纸片样式
.mdui-chip {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: background-color .25s cubic-bezier(.4,0,.2,1);

  &:hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.10);
  }
}

// 自己添加的激活状态的纸片
.mdui-chip-active {
  background-color: #e8f0fe !important;
  border-color: rgba(26, 115, 232, 0.32) !important;

  .mdui-chip-title {
    color: rgba(26, 115, 232, 1) !important;
  }
}


/**
 * 全局样式
 */
body {
  height: 100%;
  overflow: hidden;
}
.mc-chip-group {
  padding: 20px 0;

  .mdui-chip {
    margin-right: 20px;
  }
}
