.mc-drawer {
  .mdui-list-item {
    padding-left: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .mdui-list-item-icon {
    font-size: 22px;
  }

  .mdui-list-item-content {
    font-size: 14px;
    font-weight: normal;
  }

  .mdui-list-item-active {
    background-color: #e8f0fe;

    .mdui-list-item-icon,
    .mdui-list-item-content {
      color: #1a73e8;
    }
  }
}
