@import "../../helper/mixin";

.mc-drawer {
  overflow: hidden;

  &>.mdui-list {
    height: ~'calc(100vh - 56px - 52px)';
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media (min-width: @screen-sm-min) {
      height: ~'calc(100vh - 64px - 52px)';
    }

    @media (orientation: landscape) and (max-width: @screen-xs-max-landscape) {
      height: ~'calc(100vh - 48px - 52px)';
    }
  }

  .mdui-list-item {
    padding-left: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    font-weight: normal;
  }

  .mdui-collapse-item-body .mdui-list-item {
    padding-left: 80px;
  }

  .mdui-list-item-icon {
    font-size: 22px;
  }

  .mdui-list-item-content {
    font-size: 14px;
    font-weight: normal;
  }

  .mdui-list-item-active {
    background-color: #e8f0fe;
    color: #1a73e8;

    .mdui-theme-layout-dark & {
      background-color: rgba(255, 255, 255, 0.16);
      color: #fff;
    }

    .mdui-list-item-icon,
    .mdui-list-item-content {
      color: #1a73e8;

      .mdui-theme-layout-dark & {
        color: #fff;
      }
    }
  }

  .toggle {
    padding: 6px 16px;

    button {
      width: 40px;
      min-width: 40px;
      height: 40px;
      transform: rotate(-90deg);
    }
  }

  @media (max-width: @screen-sm-max) {
    .mdui-list {
      height: 100vh;
    }

    .toggle {
      display: none;
    }
  }
}

@media (min-width: @screen-md-min) {
  .mdui-drawer-body-left-mini {
    &.mdui-drawer-body-left {
      padding-left: 72px;
    }

    .mdui-drawer {
      width: 72px;

      .toggle {
        button {
          transform: rotate(90deg);
        }
      }
    }

    .mdui-drawer-close {
      transform: translateX(-72px);
    }
  }
}
