.mc-appbar {
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .link {
    width: 120px;
    margin-left: 0;
    margin-right: 76px;
  }

  .logo {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #1a73e8;
    color: #fff;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 20px;
  }

  .theme {
    color: rgba(0, 0, 0, 0.54);
  }

  .user {
    .mdui-menu-item-icon {
      color: rgba(0, 0, 0, .54);
    }
  }
}

.mdui-theme-layout-dark {
  .mc-appbar {
    border-bottom-color: rgba(255, 255, 255, 0.12);

    .theme {
      color: rgba(255, 255, 255, 1);
    }

    .user {
      .mdui-menu-item-icon {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
