@import '../../vendor/mdui/variable.less';

.mc-pagination {
  .label {
    margin-right: 16px;
    font-size: 12px;

    @media (max-width: @screen-md-min) {
      display: none;
    }
  }

  .menu {
    .label {
      height: 32px;
      margin-bottom: 8px;
      padding: 0 16px;
      font-size: 14px;
      line-height: 32px;
    }

    .mdui-divider {
      margin: 8px 0;
    }

    .mdui-btn-group {
      display: flex;
      box-sizing: border-box;
      width: 100%;
      padding: 0 16px;

      .mdui-btn {
        flex: 1;
        width: auto;
        height: 36px;
        margin-right: 4px;
        padding: 0;
        border-radius: 4px;

        &:last-child {
          margin-right: 0;
        }
      }

      .mdui-btn-active {
        color: @primaryColor !important;
        background-color: #e8f0fe;

        .mdui-theme-layout-dark & {
          color: #fff !important;
          background-color: rgba(255, 255, 255, 0.16);
        }
      }
    }

    .mdui-menu-item > a {
      height: 36px;
      line-height: 36px;
    }
  }
}
