.mc-pagination {
  display: inline-block;
  color: rgba(0, 0, 0, 0.64);

  .mdui-theme-layout-dark & {
    color: rgba(255, 255, 255, 0.87);
  }

  // 用禁用的行当标签用
  .mdui-menu-item[disabled] {
    & > a {
      color: rgba(0, 0, 0, 0.68) !important;
      font-size: 14px;

      .mdui-theme-layout-dark & {
        color: rgba(255, 255, 255, 0.78) !important;
      }
    }
  }
}
