#page-images {
  .header {
    height: 60px;
  }

  .list {
    padding: 8px;
    height: ~'calc(100vh - 180px)';
    box-sizing: border-box;
    overflow-y: auto;
  }

  .mdui-grid-tile {
    position: relative;
    cursor: pointer;
  }

  .image {
    height: 0;
    padding-bottom: 74.6%;
    background-size: cover;
    background-color: #e8eaed;
    transition: transform .135s cubic-bezier(0.0,0.0,0.2,1);
  }

  .overlay-top,
  .overlay-bottom {
    height: 56px;
    padding: 0;
    opacity: 0;
    transition: opacity 0.135s cubic-bezier(0, 0, .2, 1);
  }

  .check-btn,
  .check-placeholder-btn,
  .preview-btn {
    position: absolute;
    color: #fff;
    opacity: 0;
    z-index: 99;
    transition: opacity 0.125s cubic-bezier(0, 0, .2, 1);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .check-btn,
  .check-placeholder-btn {
    left: 8px;
    top: 8px;
  }

  .preview-btn {
    right: 0;
    bottom: 0;
    padding: 38px 8px 8px 38px;
  }

  .mdui-grid-tile:hover {
    .check-btn {
      opacity: 0.54;

      &:hover {
        opacity: 1;
      }
    }

    .overlay-top {
      opacity: 1;
    }
  }

  .mdui-grid-list.checked {
    .check-placeholder-btn {
      opacity: 0.54;
    }

    .mdui-grid-tile:hover {
      .check-placeholder-btn {
        opacity: 0;
      }

      .overlay-bottom,
      .preview-btn {
        opacity: 1;
      }
    }
  }

  .mdui-grid-tile.checked {
    background-color: #e8f0fe;

    .image {
      transform: translateZ(0px) scale3d(0.89, 0.86, 1);
    }

    .check-placeholder-btn,
    .overlay-top {
      opacity: 0;
    }

    .check-btn {
      color: #1a73e8;
      opacity: 1 !important;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}
